---
title: A Neptun Brigád története
date: Last Modified
---

{% extends 'layouts/@default.njk' %}

{% block main %}
<div class="two-col history">
    <p><em>2006</em> tavaszán mutattuk be a<strong> Jordi Galceran: Dakota</strong> (Fordító: Madarász Nóra) című darabját a Városi Színházban. Szereplők: Huszár Zsolt, Ficzere Béla, Géczi Zoltán, Kakasy Dóra. Dramaturg Veszprémi Judit. Diszlettervező Huszár Andrea, aki más munkánkat is segítette. Ez volt a Neptun Brigád megalapító első bemutatója. Előadásunkat játszottuk még a Thália Régi Stúdióban és a Stúdió ‘K,-ban is.</p>
    <p><em>2006</em> nyarán, Balatonon a Neptun szállóban szálltunk meg, ahol következő produkciónkra készültünk az általunk írt Kaszabaszára. Nagy Viktor a Balatonföldvári Kulturális Kikötő igazgatója biztosította számunkra a szállást és a zavartalan munkát.</p>
    <p><em>2007</em> év elején mutattuk be a <strong>Kaszabaszát</strong>, amikor már Neptun Brigádként léptünk fel a Sirály (Király utca 50) izgalmas terében. (Ebben az évben a társulat szervezeti keretek közé lépett; innentől kezdve lett Közhasznú Egyesület.) Ebben a produkcióban lépett fel Pokorny Lia és Polnauer Flóra. Mikó Csaba és Bíró László dramaturgként segítette előadásunkat. Erős Balázs producerként, művészi konzultánsként csatlakozott, aki ugyancsak több produkciónkat kísérte végig.</p>
    <p><em>2007</em> őszén megnyertük az Új színház által kiírt Kő-fal pályázatot a <strong>Jordi Galceran: Grönholm-módszer</strong> színművével (Fordító Bakucz Dóra, akinek sok más fordítását játszottuk a későbbiekben.), amit 2008 elején mutattunk be. Ebben két nagyszerű Új Színházas kolléga is szerepet kapott (Botos Éva, Vass György). Itt csatlakozott munkánkhoz Duró Gábor fordító és dramaturg. (Ezt a darabunkat a mai napig játsszuk.) A közeljövőben érjük el a 100 előadást a Szkénében.</p>
    <p><em>2008</em> őszén mutattuk be a Gödör klubban <strong>Sergi Belbel: Mobil</strong> (Fordító: Baksa Mercédesz, Duró Gábor) egyfelvonásos színdarabját. Itt három remek színész csatlakozott a munkánkhoz: Molnár Erika, Naszlady Éva. Chován Gábor. Tóth Péter rendezőasszisztensként kapcsolódott hozzánk. Több helyszínen játszottuk még: Stúdió ‘K, Kossuth Klub, Szputnyik, stb.</p>
    <p><em>2009</em>-ben az Új Színház ismét meghirdette Kő-fal pályázatát. <strong>A világszép nádszálkisasszonnyal</strong> megnyertük a gyerekdarab kategóriát. Ennek írója Litvai Nelli, aki egy izgalmas mesét írt a számunkra, aminek most ünnepeltük a 100. előadását a Thália Színházban. Ezzel a produkcióval nemcsak sok vidéki városban jártunk, hanem a Gyerekszínházi biennálé után a Magyar televízió is felvette elő zenés mesejátékunkat. Wittek Béla szerezte a darab zenéjét, aki már a Mobilban zenészként komoly szakmai tudásával hívta magára fel a figyelmet. Horgas Ádám koreográfusként (video klipjeinket is ő készítette) és Bartus János zenészként csatlakozott hozzánk. Gáspár Anna, aki a Világszépe létrehozásában producerként és színészként társult be a Brigádba. Itt sok új színész munkájával gazdagodott a Neptun: Kövesdi László, Placskó Emese, Pálfi Kata, Cseh Judit, Fodor Annamária.</p>
    <p><em>2010</em>-ben került sor a <strong>Sergi Belbel: Toszkána</strong> című előadásunk MU Színházi bemutatójára. Deme László dramaturgként, Szabó Márta színészként erősítette a Neptunt. Az előadás zenéjét Barna Balázs írta. Lippai Kriszta és Rada Lilla innentől kezdve dolgozik velünk asszisztensként. Sajnálatos módon a fiatalon elhunyt Huszár Zsolttal ez volt az utolsó közös munkánk, aki a Neptun Brigád alapító tagja volt.</p>
    <p><em>2010</em>-ben volt Zsámbékon a <strong>Shakespeare: Tévedések vígjátéka</strong> premierje. Itt is sok új színésszel dolgozhattunk együtt: Szoták Andrea, Szamosi Zsófia, Sűtő András, Róbert Gábor, Danhauser Soma. Ondraschek Péter kreatív munkáját ismerhettük meg díszlettervezőként, aki a Váltságdíj terveit is készítette. Fodor Annamária és Tóth Hajni ebben az előadásban debütált jelmeztervezőként. Ezzel a produkcióval a Vidor fesztiválra is eljutottunk és kijátszottunk egy egész bérletet a Gózon Gyula színházban.</p>
    <p><em>2011</em>-ben a rendezői stafétabot Baksa Imrétől átkerült Rába Roland kezébe, aki a Kino nagy moziterében rendezte meg <strong>A magyar Belmondót</strong>. Látvány és grafika Borovi Dániel, aki egy különös világot ismertetett meg a közönséggel. Az előadásból már 18-et játszottunk különböző terekben Budapesten és vidéken. Ezzel az előadással felléptünk a Theater fesztiválon is.</p>
    <p><em>2012</em>-ben újra egy Galceran darabot mutattunk be az Új Színházban, aminek a <strong>Váltságdíj</strong> volt a címe. Ebben a koprodukcióban (az Új Színházzal már ez a harmadik) dramaturg Hársing Hilda és a jelmeztervező Balla Ildikó volt. A darab főszerepét Tóth Ildikó majd Botos Éva alakította. Zenéjét a Hopp’ art társulat vezetője Herczeg Tamás szerezte. Jelenleg a Thália Új Stúdióban játsszuk.</p>
    <p><em>2013</em> őszén <strong>Line Knudzon: Közeleg az idő</strong> című dán kortárs darabot mutattuk be a Váci Dunakanyar Színházban. Rendező Felhőfi-Kiss László.</p>
    <p><em>2014</em> decemberében mutattuk be Jordi Galceran 4. darabját, aminek Bankhitel a címe. Bemutató helyszíne a Sanyi és Aranka Színház. 2017-2018-as évadban a Játékszínben játsszuk.</p>
    <p><em>2016</em> áprilisában William Shakespeare-Neptun Brigád: Hamletman című beavató előadásunkat készítettük el kamaszoknak és felnőtteknek. Résztvevők: Kállay Géza egyetemi tanár;Ficzere Béla;Baksa Imre. 2017-es Gyermek-és Ifjúsági Színházi Biennáléra bejutottunk ezzel az előadásunkkal.</p>
    <p><em>2017</em>-ben Kiss Csaba: Mi lett a nővel? színdarabját mutattuk be az R.S.9 Színházban.</p>
    <p><em>2018</em>-ban két bemutatónk is volt az R.S.9 Színházban. Jordi Galceran: Láncra vert szavak darabja és a Baksa Imre által írt Szerecsen (Trip).</p>
    <p>A Neptun Brigád alkotói egy kíváncsi és nyitott közeget alakítottak ki maguknak, ami a kortárs gondolatok és színházi irányok felé folyamatosan nyit.</p>
    <p>{{ "now" | dateDisplay }}</p>
</div>
{% endblock %}
