---
{
  date: Last Modified
}
---

{% extends 'layouts/@default.njk' %}

{% block title %}{% endblock %}

{% block main %}
{% include "css-fadeshow.njk" %}
<section class="articles">
  <h2 class="hidden">Darabok</h2>
  <div>
    {% set nextEventsTitleWasShown = false %}
    {% set wasAnyPostWithNextEvents = false %}
    <div class="masonry">
      {% for page in collections.work %}
        {% set nextEvents = events[(page.fileSlug)] %}
        {% if nextEvents %}
            {% set wasAnyPostWithNextEvents = true %}
        {% endif %}
        {% if not nextEvents and nextEventsTitleWasShown === false and wasAnyPostWithNextEvents %}
            {% set nextEventsTitleWasShown = true %}
            <div class="previous-events">
              <h2>Korábbi előadások</h2>
            </div>
        {% endif %}
        {% include "article.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
<script>{{ js | jsMin | safe }}</script>
{% endblock %}