---
title: Kapcsolat
permalink: kapcsolat/
date: Last Modified
members:
- Baksa Imre: Színész-rendező, a Neptun Brigád vezetője <br><a href="mailto:baksa.imre777@gmail.com">baksa.imre777@gmail.com</a> <br><a href="https://baksaimre.hu" target="_blank">baksaimre.hu</a>
- Duró Gábor: Dramaturg
- Sáfrány Eszter: Produkciós vezető <br><a href="mailto:safranyeszter@gmail.com">safranyeszter@gmail.com</a>
- Gáspár Anna: Menedzser
- Lippai Krisztina: Rendező asszisztens
- Rada Lilla: Ügyvéd
- Gegesi-Kiss Tamás: Üzletember
actors:
- Chován Gábor
- Vass György
- Cseh Judit
- Botos Éva
- Ficzere Béla
- Kövesdi László
- Lengyel Tamás
- Jászberényi Gábor
- Álmosd Phaedra
- Kadlott Zsófia
- Kakasy Dóra
- Huszár Zsolt (†)
- Tűzkő Sándor
directors:
- Koleszár Bazil Péter
- Cseh Judit
- Kovács Dániel Ambrus
- Baksa Imre
- Vass György
---
{% extends 'layouts/@default.njk' %}

{% block main %}
<h3>{{ cfg.siteName }} Közhasznú Egyesület</h3>

<p>
    Telefon: <a href="tel:{{ cfg.phone }}">{{ cfg.phone }}</a>
    <br>
    Email: <a href="mailto:baksa.imre777@gmail.com">baksa.imre777@gmail.com</a>, <a href="mailto:safranyeszter@gmail.com">safranyeszter@gmail.com</a>
    <br>
    Facebook: <a href="{{ cfg.facebook }}">{{ cfg.siteName }}</a>
</p>

<div class="contact-grid">
    <div>
        {% for member in members %}
            {% for name, position in member %}
                <h3>{{ name }}</h3>
                <p>{{ position | safe }}</p>
            {% endfor %}
        {% endfor %}
    </div>

    <div>
        <h3>Színészek</h3>

        <ul>
            {% for name in (actors | localeSort(true, "hu")) %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>

        <h3>Rendezők</h3>

        <ul>
            {% for name in (directors | localeSort(true, "hu")) %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}