.sb_link,
.sb_icon {
  display: inline-block;
}

.sb_link {
  text-decoration: none;
  color: #fff;
  margin: 0 0.1rem;

  >div {
    padding: 0.25em 0.56em 0.4em;
  }

  &:not(:hover)>div {
    background: transparent;
  }
}

.sb_icon svg {
  $size: 1.125rem;
  width: $size;
  height: $size;
  vertical-align: middle;
}

.sb span {
  padding-left: 0.4rem
}

/* Non solid icons get a stroke */
.sb_icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.sb_icon-solid,
.sb_icon-solidcircle {
  fill: #fff;
  stroke: none
}

.sb-twitter {
  background-color: #55acee
}

.sb-twitter:hover {
  background-color: #2795e9
}

.sb-pinterest {
  background-color: #bd081c
}

.sb-pinterest:hover {
  background-color: #8c0615
}

.sb-facebook {
  background-color: #3b5998
}

.sb-facebook:hover {
  background-color: #2d4373
}

.sb-tumblr {
  background-color: #35465C
}

.sb-tumblr:hover {
  background-color: #222d3c
}

.sb-reddit {
  background-color: #5f99cf
}

.sb-reddit:hover {
  background-color: #3a80c1
}

.sb-google {
  background-color: #dd4b39
}

.sb-google:hover {
  background-color: #c23321
}

.sb-linkedin {
  background-color: #0077b5
}

.sb-linkedin:hover {
  background-color: #046293
}

.sb-email {
  background-color: #777
}

.sb-email:hover {
  background-color: #5e5e5e
}

.sb-xing {
  background-color: #1a7576
}

.sb-xing:hover {
  background-color: #114c4c
}

.sb-whatsapp {
  background-color: #25D366
}

.sb-whatsapp:hover {
  background-color: #1da851
}

.sb-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.sb-facebook:hover,
.sb-facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.sb-twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.sb-twitter:hover,
.sb-twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.sb-google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.sb-google:hover,
.sb-google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.sb-tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.sb-tumblr:hover,
.sb-tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.sb-email {
  background-color: #777777;
  border-color: #777777;
}

.sb-email:hover,
.sb-email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.sb-pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.sb-pinterest:hover,
.sb-pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}