{# {% set nextEvents = events[(page.fileSlug)] %} #}
<article {% if nextEvents %}data-has-events{% endif %} data-premier-date="{{ (page.data.premier.date + ' ' + page.data.premier.time + ':00') | dateDisplay('timestamp') }}">
{% if page.data.img %}
    {% set imgLarge = page.data.img | postImage("works") %}
    {% set imgThumb = page.data.img | postImage("works", "thumb") %}
    <div class="article-image">
     <a href="{{ page.url | url }}"{% if loop.index === 1 %} style="background-image: url('{{ imgLarge | url }}');"{% endif %} title="">
        <img loading="lazy" src="{{ imgThumb | url | cacheVersion }}" {{ imgThumb | imageDimensions | safe }} alt=""/>
     </a>
    </div>
    {% if nextEvents %}
        {% set events = (nextEvents | sortObjectArrayByDateValue("date")) %}
        <div class="next-events">
        {% for event in events %}
            {% set theater = theaters[event.theater] %}
            <a href="{{ page.url | url }}#eloadasok">
                <span>{{ event.date | dateDisplay("monthAndDay") }} {{ event.time }}</span>
                <br/>
                <small>{{ theater.name }}</small>
            </a>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}
    <div class="description">
        <h2>
          <a href="{{ page.url | url }}" title="">{{ page.data.title }}</a>
        </h2>
        <p class="headline-copy">{{ page.data.genre | lower }}</p>
        <p class="excerpt">{{ page.data.excerpt | safe }}</p>
        <a href="{{ page.url | url }}" class="readmore"><span>Tovább</span></a>
    </div>
</article>