<article data-premier-date="{{ (page.data.premier.date + ' ' + page.data.premier.time + ':00') | dateDisplay('timestamp') }}">
{% if page.data.img %}
    {% set imgLarge = page.data.img | postImage("works") %}
    {% set imgThumb = page.data.img | postImage("works", "thumb") %}
    {% set imgLQP = page.data.img | postImage("works", "lqp") %}
    <div class="article-image">
     <a href="{{ page.url | url }}"{% if loop.index === 1 %} style="background-image: url('{{ imgLarge | url }}');"{% endif %} title="">
        {% if loop.index > 1 %}
            <img src="{{ imgLQP | url | cacheVersion }}" data-src="{{ imgThumb | url | cacheVersion }}" class="lazyload" {{ imgThumb | imageDimensions | safe }} alt=""/>
        {% endif %}
        <noscript>
            <img src="{{ imgThumb | url | cacheVersion }}" {{ imgThumb | imageDimensions | safe }} alt=""/>
        </noscript>
     </a>
    </div>
{% endif %}
    <div class="description">
        <h2>
          <a href="{{ page.url | url }}" title="">{{ page.data.title }}</a>
        </h2>
        <p class="headline-copy">{{ page.data.genre }} {{ page.data.premier.date | dateDisplay("year") }}</p>
        <p class="excerpt">{{ page.data.excerpt | safe }}</p>
        <a href="{{ page.url | url }}" class="readmore"><span>Tovább</span></a>
        {% set premier = page.data.premier %}
        <p class="premier-info" style="display: none;">
            <a href="{{ page.data.link }}" target="_blank">
                <span>Premier</span> {{ premier.date | dateDisplay }} <br>{{ premier.theater }}, {{ premier.time }}
            </a>
        </p>
    </div>
</article>