{% set range = [1, 2, 3, 4] %}
{% set pages = collections.news.slice(0, range.length) %}
<div data-am-fadeshow="quick-nav prev-next-nav autoplay">
    {% for page in pages %}
        <input type="radio" name="css-fadeshow" id="slide-{{ loop.index }}" />
    {% endfor %}

    <div class="fs-slides">
        {% for page in pages %}
            <div class="fs-slide">
                <div class="fs-slide-text">
                    <div>
                        <div class="fs-slide-title">
                            <p class="breadcrumb">
                                <a href="{{ '/hirek/' | url }}">Hírek</a>
                            </p>
                            {% set url = (page.url | url) %}
                            <h2><a href="{{ url }}">{{ page.data.title }}</a></h2>
                        </div>
                        {%if page.data.excerpt %}
                            <p>{{ page.data.excerpt | truncate(100, true) }}</p>
                        {%endif %}
                        <p class="readmore-wrap"><a href="{{ url }}" class="readmore"></a></p>
                    </div>
                </div>

                <div class="fs-slide-img">
                    {% set imgVariant = page.data.img | postImage("news", "news") %}
                    <div class="fs-slide-bg" style="background-image: url('{{ imgVariant | url | cacheVersion }}')"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="fs-quick-nav">
        {% for i in range %}
            <label class="fs-quick-btn" for="slide-{{ i }}"></label>
        {% endfor %}
    </div>

    {# <div class="fs-prev-nav">
        {% for i in range %}
            <label class="fs-prev-btn" for="slide-{{ i }}"></label>
        {% endfor %}
    </div> #}

    {# <div class="fs-next-nav">
        {% for i in range %}
            <label class="fs-next-btn" for="slide-{{ i }}"></label>
        {% endfor %}
    </div> #}
</div>