<nav>
    <ul>
      {% for p in cfg.menu %}
      {% set url = p[1] | url %}
        <li{% if page.url === url %} class="active"{% endif %}>
            <a href="{{ url }}">{{ p[0] }}</a>
        </li>
        {% endfor %}
        <li class="icon-only">
            <a href="{{ cfg.facebook }}" target="_blank">
                <img src="{{ "facebook.svg" | postImage('icons') }}" alt="" width="20" height="20" />
            </a>
        </li>
    </ul>
</nav>