// note: if the minified CSS has "}#id" then nunjucks include fails

// variables
@charset "UTF-8";
$version: '?v=20220423';
$base: #2c3235;
$linkcolor: #c82417;
$darkcolor: #0a101d;
$bgcolor: rgba(31, 33, 44, 1);
$bgcolorTransparent: rgba(darken($darkcolor, 5%), 0.75);
$bordercolor: #dadada;
$mutedWhite: rgba(white, 0.5);
$images: '/assets/images';

// breakpoints
$_mobile: 480;
$_tablet: 640;
$_desktop: 996;
$_hd: 1280;
$_xhd: 1600;
$mobile: 'min-width: #{$_mobile}px';
$tablet: 'min-width: #{$_tablet}px';
$desktop: 'min-width: #{$_desktop}px';
$hd: 'min-width: #{$_hd}px';
$xhd: 'min-width: #{$_xhd}px';
$max-mobile: 'max-width: #{$_tablet - 1}px';
$max-tablet: 'max-width: #{$_desktop - 1}px';
$max-desktop: 'max-width: #{$_hd - 1}px';
$max-hd: 'max-width: #{$_xhd - 1}px';

// imports
@import 'normalize';
@import 'mixins';
@import 'sharingbuttons';
@import 'fg_grid/fg_grid';

// override defaults
* {
    outline: none;
}

input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: transparent;
}

strong {
    font-weight: 500;
}

p {
    margin: 0 0 1.25rem;
}

ul,
ol {
    margin-top: 0;
}

li p {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;

    @media ($tablet) {
        &.align-right {
            float: right;
            max-width: 66%;
            margin: 0 0 1rem 1.5rem;
        }

        &.align-left {
            max-width: 66%;
            float: left;
            margin: 0 1.5rem 1rem 0;
        }
    }
}

a {
    color: $linkcolor;
    text-decoration: underline;
    font-weight: 400;

    &:hover {
        color: lighten($linkcolor, 10%);
    }
}

// styles
html {
    overflow-x: hidden;
    background: $darkcolor; // @media ($desktop) {
    height: 100%; // }
}

body {
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    line-height: 1.66;
    color: $base;
    font-size: 14px;
    font-weight: 300;

    @media ($tablet) {
        font-size: 15px;
    }

    @media ($desktop) {
        font-size: 16px;
    }

    @media ($hd) {
        font-size: 17px;
    }

    display: flex;
    flex-direction: column;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        backface-visibility: hidden;
        background: $darkcolor url('#{$images}/bg-mobile.jpg') center top no-repeat;
        background-size: 100% auto;
        opacity: 0.8;

        @media ($desktop) {
            position: fixed;
            background-image: url('#{$images}/bg.jpg');
        }
    }
}

.container {
    @include clearfix;
    margin: 0 auto;
    padding: 0 1.12rem;

    @media ($desktop) {
        max-width: 92rem;
        padding: 0 3rem;
    }
}

h1,
h2,
h3 {
    font-weight: 500;
    letter-spacing: 0.5px;

    a {
        font-weight: 500;
    }
}

h1 {
    @include highlightLines(0.5rem, darken($darkcolor, 4%));
    text-transform: uppercase;
    color: $linkcolor;
    padding: 0.2rem 0 0.33rem;
    margin-top: 0 0 1.75rem 0;
    font-size: 1.27rem;
    line-height: 1.6;

    @media ($desktop) {
        line-height: 1.8;
        font-size: 1.7rem;
    }
}

h2 {
    a {
        text-decoration: none;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.highlightTitle {
    @include highlightLines(0.5rem, darken($darkcolor, 4%));
    text-transform: uppercase;
    color: $linkcolor;
    padding: 0.16rem 0 0.24rem;
}

.news-list {
    text-align: center;

    .readmore {
        position: relative;
        top: 0.27rem;
        left: 0.5rem;
    }

    h2 {
        @extend .highlightTitle;
    }

    .article-image {
        margin-bottom: 1rem;
    }

    .headline-copy {
        margin-top: 0.5rem;
    }

    >div {
        margin: 0 auto 2rem;
        max-width: 50rem;
        padding-bottom: 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.news-content {
    .excerpt {
        font-size: 125%;
    }

    p>a>img {
        display: inline-block;
    }
}

h1+.headline-copy {
    margin-top: 0.5rem;
}

.sharingbuttons+.headline-copy {
    margin-top: 0.5rem;
}

.previous-events {
    flex-basis: 100%;
    text-align: center;

    h2 {
        @extend .highlightTitle;
        display: inline-block;
    }
}

.title {
    @include clearfix;
    margin-bottom: 0.5rem;

    @media ($desktop) {
        margin-bottom: 1.25rem;
    }

    body.home & {
        display: none;
    }
}

.documents {
    list-style: none;
    padding-left: 0;
    display: inline-block;

    li {
        margin-bottom: 0.25rem;

        a {
            $size: 1.5rem;
            display: inline-block;
            padding: 0.5rem 0 0.5rem 1.75rem;
            color: white;
            background: transparent url('#{$images}/icons/icon-document.svg') 0 0.6rem no-repeat;
            background-size: $size $size;
            color: #fff;

            &:hover {
                color: $linkcolor;
            }
        }
    }
}

.title-wrap {
    margin-bottom: 1.25rem;
}

.headline-copy {
    margin-top: -0.84rem;

    &,
    a {
        color: rgba(white, 0.6);
        text-decoration: none;
        font-size: 0.84rem;
    }

    a:hover {
        text-decoration: underline;
    }

    article & {
        color: rgba(white, 0.3) !important;
    }

    @media ($desktop) {

        &,
        a {
            font-size: 0.9rem;
        }
    }
}

.subtitle {
    font-size: 0.92rem;
    margin-top: 1rem;
}

header {
    flex: 0 0 auto;
    padding: 2rem 0 1.5rem;
    position: relative;
    z-index: 120;

    @media ($tablet) {
        padding-bottom: 1.75rem;
    }

    @media ($desktop) {
        padding-top: 3.175rem;
        padding-bottom: 2.5rem;
    }

    nav {
        float: right;

        @media ($tablet) {
            margin-top: 1.25em;
        }

        @media ($max-tablet) {
            display: none;
        }

        li {
            display: inline-block;
            margin-left: 0.25rem;

            &.active {
                a {
                    background: $linkcolor;
                    text-shadow: none;
                }
            }
        }

        a {
            display: block;
            padding: 0.4rem 0.45rem;
            text-transform: uppercase;
            font-size: 0.96rem;

            &:hover {
                color: white;
                background: $bgcolor;
                text-shadow: none;
            }
        }
    }
}

.main-content {
    flex: 1 0 auto;
    color: white;
}

header,
footer {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: white;
            line-height: 1;
        }
    }
}

footer {
    @include clearfix;
    flex: 0 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;

    >.container>div {
        border-top: 1px solid rgba(white, 0.33);
        padding-top: 1rem;
    }

    nav {
        margin-bottom: 1rem;
    }

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &.icon-only {
            a {
                top: 2px !important;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    ul {
        a {
            display: inline-block;
            font-size: 0.94rem;
            color: rgba(white, 0.5);

            &:hover {
                color: white;
            }
        }
    }

    nav:first-child {
        display: none;

        @media ($tablet) {
            display: block;
        }
    }

    @media ($desktop) {
        nav:first-child {
            float: left;
        }

        nav~nav {
            float: right;
        }
    }

    nav~nav {
        margin-top: -0.2rem;

        img {
            height: 2.4rem;
            width: auto;
        }
    }
}

nav {
    user-select: none;

    li.icon-only {
        a {
            position: relative;
            top: 4px;

            &:hover {
                background: transparent;
                opacity: 0.75;
            }
        }
    }
}

.developer-link {
    float: left;
    clear: left;
    margin: -0.75rem 0 0;

    a {
        color: rgba(white, 0.1);
        font-size: 0.75rem;

        &:not(:hover) {
            text-decoration: none;
        }
    }
}

.logo {
    width: 12.5rem;
    height: auto;
    max-width: 100%;
    float: left;
    text-decoration: none;
    user-select: none;

    @media ($tablet) {
        width: 15rem;
    }

    @media ($desktop) {
        width: 17rem;
    }

    @media ($hd) {
        width: 20rem;
    }

    img {
        min-width: 4rem;
        display: block;
        margin-bottom: 0.3rem;
    }

    span {
        color: white;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: nowrap;
        user-select: none;

        @media ($max-tablet) {
            font-size: 0.75rem;
            letter-spacing: 1px;
        }
    }
}

img {
    user-select: none;
}

.readmore {
    display: none;

    @media ($tablet) {
        display: inline-block;
    }

    $size: 1rem;
    $outerSize: $size * 2;
    $offset: -0.33rem;
    width: $outerSize;
    height: $outerSize;
    background: transparent url('#{$images}/icons/icon-readmore.svg') center center no-repeat;
    background-size: $size $size;
    margin: $offset 0 $offset $offset;
    text-decoration: none;
    opacity: 0.84;
    user-select: none;

    span {
        display: none;
    }

    &:hover {
        opacity: 0.99;
    }
}

.imageLinkHover {
    backface-visibility: hidden;
    filter: contrast(106%) brightness(106%) saturate(106%);
    transition: filter 0.16s;

    &:hover {
        filter: contrast(110%) brightness(120%) saturate(120%);
    }
}

article {
    background: $bgcolorTransparent;
    margin-bottom: 1rem;
    position: relative;

    p:last-child {
        margin-bottom: 0;
    }

    .article-image {
        position: relative;
        overflow: hidden;

        a {
            display: block;
            @extend .imageLinkHover;
        }
    }

    h2 {
        position: relative;
        margin: 0 0 1rem;
        font-size: 1.27rem;
        line-height: 1.33;
        @extend .highlightTitle;

        @media ($desktop) {
            font-size: 1.36rem;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        span {
            color: rgba(white, 0.167);
            display: inline-block;
            user-select: none;
        }

        &::after {
            content: '';
            width: 60px;
            height: 4px;
            position: absolute;
            top: -1.75rem;
            left: -2rem;
            background-color: $linkcolor;

            @media ($max-tablet) {
                left: -1.25rem;
            }
        }
    }

    .description {
        font-size: 0.96rem;
        padding: 1.75rem 2rem 1rem;

        @media ($max-tablet) {
            padding: 1.75rem 1.25rem 0.5rem 1.25rem;
        }

        p {
            color: rgba(white, 0.84);
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.post {
    img {
        display: block;
        margin-bottom: 1rem;
    }

    blockquote {
        border-left: 1px solid white;
        margin-left: 0;
        padding-left: 1rem;
        font-style: italic;
    }
}

.news-sidebar {
    @media ($desktop) {
        float: right;
        margin: 0 0 1rem 2rem;
        width: 50%;
        max-width: 36rem;
    }
}

.next-events {
    position: absolute;
    top: 0.5rem;
    left: -0.2rem;
    display: inline-block;
    pointer-events: none;

    a {
        pointer-events: all;
        display: inline-block;
        background: $linkcolor;
        padding: 0.36rem 1rem 0.45rem;
        font-size: 0.97rem;
        text-decoration: none;
        color: white;
        margin: 0 4px 4px 0;
        line-height: 1.33;
        opacity: 0.84;
        backdrop-filter: blur(5px);

        &:hover {
            color: white;
            opacity: 0.92;
        }
    }
}

.critic {
    margin-bottom: 1.5rem;

    blockquote {
        font-style: italic;
        padding: 0 0 0 0.66rem;
        margin: 0;
        font-size: 1.04rem;
        position: relative;

        &::before {
            content: '"';
            position: absolute;
            left: -0.3rem;
            top: -0.66rem;
            font-size: 2rem;
            color: rgba(white, 0.5);
            user-select: none;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }
}

// section.articles {
//     >div>article:first-child {
//         display: block;

//         .article-image {
//             a {
//                 display: block;
//                 min-height: 16rem;
//                 background-size: cover;
//                 background-position: center center;
//                 background-repeat: no-repeat;
//             }
//         }
//     }
// }

// @media ($tablet) {
//     section.articles {
//         >div>article:first-child {
//             .article-image {
//                 a {
//                     min-height: 24rem;
//                 }
//             }
//         }
//     }
// }

// @media ($desktop) {
//     section.articles {
//         >div>article:first-child {
//             @include clearfix;

//             .article-image {
//                 float: left;
//                 width: 67.5%;
//                 margin-right: 2rem;

//                 a {
//                     min-height: 30rem;
//                 }
//             }

//             .description {
//                 top: 50%;
//                 position: absolute;
//                 padding-left: 0;
//                 transform: translateY(-50%);
//                 margin-left: calc(67.5% + 2rem);
//             }

//             h2 {
//                 font-size: 1.84rem;

//                 &::after {
//                     left: 0;
//                 }
//             }

//             .excerpt {
//                 font-size: 1.04rem;
//             }

//             .premier-info {
//                 margin-left: -2rem;
//             }
//         }
//     }
// }

.two-col {
    @media ($desktop) {
        column-count: 2;
        column-gap: 2rem;
    }
}

a[href^='tel:'] {
    font-size: 1.08rem;
    color: white;
    text-decoration: none;
}

.masonry {
    @include clearfix;
    color: white;

    @media ($tablet) {
        @include _fg(2, 1rem, 0);

        .article-image {
            height: 0;
            padding-top: 60%;

            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }

    @media ($desktop) {
        @include _fg(3, 1rem, 0);
    }
}

.button {
    display: inline-block;
    border: 1px solid $bordercolor;
    background: transparent;
    font-size: 0.94rem;
    line-height: 1.1 !important;
    padding: 0.6rem 1.25rem;
    user-select: none;
}

.back {
    @extend .readmore;
    background-image: url('#{$images}/icons/icon-back.svg');
    margin-top: 1rem;
}

@media ($tablet) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: $linkcolor;

            &:hover {
                background: lighten($linkcolor, 10%);
            }
        }
    }
}

.video-player-wrap {
    max-width: 48rem;
    margin-bottom: 1rem;
}

.video-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @extend .imageLinkHover;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    .play {
        $size: 3.5rem;
        height: $size;
        width: $size;
        left: 50%;
        top: 50%;
        margin-left: -$size/2;
        margin-top: -$size/2;
        position: absolute;
        background: $linkcolor url('#{$images}/icons/play.svg') no-repeat;
        background-size: $size $size;
        border-radius: 50%;
        cursor: pointer;
    }
}

.breadcrumb {
    a {
        text-decoration: none;
        color: rgba(white, 0.7);

        &:hover {
            color: white;
        }
    }
}

.work-details {
    @include clearfix;

    aside {
        word-break: break-word;
    }

    @media ($desktop) {
        @include _fg(3 4, 0, 0);

        aside {
            padding-right: 3rem;
        }
    }

    section {
        >div {
            @include clearfix;
        }
    }

    h3 {
        text-transform: uppercase;
        color: $linkcolor;
        font-size: 0.96rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1;
        user-select: none;

        @media ($desktop) {
            font-size: 1.1rem;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }
}

.premier-info {
    position: relative;
    background: #0c0d13;
    margin-left: -1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0.84rem;
    font-size: 1rem;
    max-width: 27rem;

    @media ($desktop) {
        margin-left: -2rem;
    }

    a {
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        color: white;
    }

    span {
        display: block;
        position: absolute;
        top: 50%;
        right: -1rem;
        margin-top: -12px;
        transform: rotate(270deg);
        text-align: center;
        color: $linkcolor;
        font-size: 0.96rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        transform-origin: center;
        user-select: none;
        pointer-events: none;
    }

    &:hover {
        background: $linkcolor;

        span {
            color: rgba(white, 0.42);
        }
    }
}

.gallery {
    @include clearfix;
    margin-left: -0.25rem;
    margin-right: -0.5rem;

    a {
        display: block;
        float: left;
        width: calc(50% - 0.5rem);
        margin: 0 0.25rem 0.5rem;
        background: $darkcolor;

        @media ($mobile) {
            width: 8.66rem;
        }

        @extend .imageLinkHover;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

div#baguetteBox-overlay {
    background-color: darken($darkcolor, 5%) !important;
    transition: none !important;
}

.baguetteBox-button {
    background-color: transparent !important;

    &:hover {
        filter: brightness(150%);
    }
}

input#menu-toggle {
    @include hamburger($width: 24px,
        $thickness: 2px,
        $gap: 6px,
        $color: white,
        $padding: 1.25rem,
        $anim: 0);

    +label {
        position: fixed;
        top: 0;
        right: 0;
        backface-visibility: hidden;
    }

    @media ($desktop) {
        &:not(:checked)+label {
            display: none;
        }
    }

    &:checked {
        ~header {
            >.container {
                float: none;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100vh;
                backface-visibility: hidden;
                z-index: 90;
                text-align: center;
                margin: 0;
                background: $darkcolor;
            }

            .logo {
                float: none;
                z-index: 210;
                left: 50%;
                margin-top: 7rem;
                text-align: center;
            }

            nav {
                display: block;
            }

            ul {
                margin: 0 auto;
                position: absolute;
                top: 13rem;
                left: 0;
                right: 0;

                @media ($desktop) {
                    top: 14rem;
                }
            }

            li {
                display: block;
                margin-bottom: 0.5rem;
                margin-left: 0;
            }

            a {
                font-size: 1rem;
                line-height: 1.25;
                display: inline-block;
            }
        }
    }
}

.contact-grid {
    padding-top: 1rem;
    border-top: 1px solid rgba(white, 0.33);

    h3 {
        color: $linkcolor;
        margin-bottom: 0;
        @include highlightLines(0.25rem, darken($darkcolor, 0.7%));
        padding: 0.1rem;
    }

    @media ($tablet) {
        @include _fg(1 1, 0, 0);
    }
}

.history {
    em {
        display: inline-block;
        @include highlightLines(0.25rem, $linkcolor);
        padding-top: 0;
        font-size: 1.125rem;
        font-style: normal;
        margin-right: 0.3rem;
        line-height: 1;
    }
}

.sharingbuttons {
    margin-left: -0.25rem;

    @media ($desktop) {
        display: inline-block;
        margin-left: 2rem;
        position: relative;
        top: -0.25rem;
    }
}

.clear {
    @include clearfix;
}

img.lazyload {
    filter: saturate(0.25);
}

html.no-js {
    img.lazyload {
        height: 0;
    }
}

.hidden {
    display: none;
}

body.kapcsolat {
    .main-content {
        a {
            color: white;
        }
    }
}

input#text-toggle {
    display: none;
}

@media ($max-mobile) {
    input#text-toggle {
        +.work-body {
            position: relative;

            &::after {
                content: '';
                background-image: linear-gradient(to bottom,
                        transparent,
                        $darkcolor);
                height: 6rem;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &:not(:checked) {
            +.work-body {
                max-height: 8rem;
                overflow: hidden;
            }
        }

        &:checked {
            ~p label {
                &::after {
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                }
            }

            +.work-body {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.text-toggle {
    @media ($tablet) {
        display: none;
    }

    margin: 1.5rem 0 2rem;

    label {
        user-select: none;
        pointer-events: none;
        display: block;
        line-height: 1;
        border-top: 1px solid rgba(white, 0.25);
        text-align: center;
        position: relative;

        &::after {
            $size: 32px;
            content: '+';
            width: $size;
            height: $size;
            font-size: $size;
            display: inline-block;
            background: $darkcolor;
            color: rgba(white, 0.75);
            border-radius: 100%;
            position: absolute;
            top: -4px;
            left: 50%;
            line-height: $size;
            transform: translate3d(-50%, -50%, 0);
            cursor: pointer;
            pointer-events: all;
        }
    }
}

.news-slider-wrap {
    position: relative;
    margin-bottom: 1.5rem;

    #news-slider {
        background: $bgcolorTransparent;
    }

    .news-slider__slide+.news-slider__slide {
        display: none;
    }

    .content {
        @media ($desktop) {
            @include _fg(1 2, 0, 0);
        }

        .news-slider {
            &__text {
                align-self: center;
                padding: 1.75rem 1.25rem 0 1.25rem;

                @media ($desktop) {
                    padding: 1.75rem 2rem 1rem;
                }
            }

            &__title {
                margin-bottom: 1rem;

                h2 {
                    @extend .highlightTitle;
                }
            }

            &__img {
                height: 0;
                padding-top: 66%;
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;

                @media ($desktop) {
                    padding-top: 42%;
                    cursor: grab;

                    &:active {
                        cursor: grabbing;
                    }
                }
            }
        }
    }

    .tns-nav {
        text-align: center;
        padding: 0.25rem 0;

        button {
            width: 0;
            height: 0;
            padding: 5px;
            background: rgba(white, 0.5);
            margin: 0.3rem;
            border-radius: 100%;
            border: 2px solid transparent;
            background-clip: padding-box;

            &:hover {
                background: rgba(white, 0.75);
            }

            &.tns-nav-active {
                background: $linkcolor;
            }
        }
    }

    .tns-controls {
        text-align: center;
        padding: 0.5rem;
    }

    button {
        border: none;
        background: transparent;
        color: $linkcolor;
    }

    .readmore-wrap {
        display: none;

        @media ($desktop) {
            display: block;
        }
    }
}
